body{
    font-family: 'Segoe UI', sans-serif;
}
/* Style for the banner */
.banner {
    background-color: #f2f2f2;
    text-align: center;
    display:flex;
    align-items: center;
}
.banner-img{
    height: 100%;
    max-width: 100%;
}

.main-header {
    background-color: #333333;
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-weight:500;
}


/*risk overall bit*/
.risk-overall{
    display:flex;
    border: 1px solid #333333;
    margin-top: 10px;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
   
}
.left-image{
    max-width:33%;
}
.left-image img{
    max-width: 100%;
    padding-left: 5%;
    align-items: center;
}
.risk-overall-text{
    margin-left: 3%;
}



/*executive summary bit*/
.summary {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #333333;
}

/* Style for the tables */
.table-container {
    margin-bottom: 20px;
}

/*left table*/
.summary-table {
    width: 80%;
    border-collapse: collapse;
    font-weight:500;
    font-size: 14px;
}
.summary-table th {
    background-color: #263143;
    color: #fff;
    width:50%;
}
.summary-table td {
    width: 50%;
}


.category-riskcritical {
    background-color: rgb(194, 36, 36);
}
.category-riskhigh {
    background-color: rgb(228, 45, 45);
}
.category-riskmedium {
    background-color: rgb(245, 167, 23);
}
.category-risklow {
    background-color: rgb(246, 246, 27);
}
/*if category score is 0*/
.category-riskinformational {
    background-color: rgb(98, 214, 117);
}



/*right table*/
.executive-summary {
    flex: 2;
}
.custom-hr{
    width: 50%;
}






/* Risk prioritisaion summary*/
.risk-summary-container {
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 50px;
}

.risk-summary-heading {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.risk-prioritisation-summary {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-weight:500;
}

.risk-column{
    width:10%;
    background-color: #263143;
    color: #fff;
}

.technique-column {
    width: 40%; /* Adjust the width as needed */
    background-color: #263143;
    color: #fff;
}

.category-column,
.score-column {
    width: 10%; /* Adjust the width as needed */
    background-color: #263143;
    color: #fff;
}


h2 {
    text-decoration: underline;
}

a{
    color:black;
}

.critical{
    background-color: rgb(194, 36, 36);
}
.high{
    background-color: rgb(228, 45, 45);
}
.medium{
    background-color: rgb(245, 167, 23);
}
.low{
    background-color: rgb(246, 246, 27)
}
.information{
    background-color: rgb(149, 200, 232);
}






/* Technical section */
table{
    width:100%;
    border-collapse: collapse;
}

.finding-header {
    background-color: #263143;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-weight:500;
}

.finding-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.table-header {
    background-color: #263143;
    color: #fff;
}

th,td {
    border: 1px solid #263143;
    padding: 8px;
    text-align: left;
}

.toggle {
    background-color: #abb9c0;
    font-weight:500;
}
th {
    background-color: #6bb3cb;
}


.finding-riskcritical, .finding-riskhigh, .finding-riskmedium, .finding-risklow, .finding-riskinformational {
    width: 15%;
    font-weight:500;
}

.finding-riskcritical {
    background-color: rgb(194, 36, 36);
}
.finding-riskhigh {
    background-color: rgb(228, 45, 45);
}
.finding-riskmedium {
    background-color: rgb(245, 167, 23);
}
.finding-risklow {
    background-color: rgb(246, 246, 27);
}
.finding-riskinformational {
    background-color: rgb(149, 200, 232);
}


.toggle:hover{
    background-color: #c4c4c4e0;
    cursor: pointer;
}

.left-section {
    flex: 1;
    /* Grow and shrink equally */
    margin-right: 20px;
}

.attack-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.attack-text{
    flex: 1;
    margin-right: 20px; /* Adjust spacing between text and image */
  }
  
.image-cell{
    flex: 1;
    max-width: 40%; 
}
.image-cell img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.lin